*{margin: 0;padding: 0;}
a{text-decoration:none;}

body{font-size: 20px;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  height:100vh;
  color: white;
}

button{
  border:rgb(108, 250, 255);
  background:rgba(141, 213, 216, 0.473);
  color: rgba(255, 0, 0, 0.658);
  font-size:2rem;
  width: 250px;
  padding:1rem 1.5rem;
  border-radius: 3rem;
  margin: 1rem;
  transition: 0.8s;
  &:hover{
    background:rgba(141, 213, 216, 0.952);
    color: rgba(255, 0, 0, 0.973);
    transition: 0.8s;
    }
    &:active{
      background:rgba(232, 249, 250, 0.952);
      box-shadow: 5px 5px 20px rgba(56, 74, 180, 0.815);
      transition: 0.2s;
      }
}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
  background: url('/image/background_battleShip.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

header {
display:flex;
flex-direction: row;
justify-content: center;
padding-top: 1rem;
font-size: 2rem;
font-weight: 300;
}
//RAZMER IGROVOI OBLASTI
.battle_grid_wrapper{
  display:flex;
  flex-direction: row;
  width: 1400px;
  height: 900px;
}
.yoda{
  display:block;
  background: url('/icon/avatar_yoda.png');
  width:100px;
  height:100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.djedai_buttle_wrapper{
  width:50%;
  height:auto;
  display:flex;
align-items: center;
flex-direction: column;

h2{
  font-size:1.8rem;
  font-weight: 400;
  color: #29b67f;
}
}

.sith{
  display:block;
  background: url('/icon/avatar_sith.png');
  width:100px;
  height:100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.r2d2_buttle_wrapper{
  display:none;
  width:50%;
  height:auto;
  align-items: center;
  flex-direction: column;

h2{
  font-size:1.8rem;
  font-weight: 400;
  color: rgba(250, 33, 33, 0.904);
}
}

//RAZMER SETKI 10*10
.buttle_grid{
  width:auto;
  height:50px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  padding: 0;
}

//SETKA RAZMETKA
.ship_wrapper{
  border: 1px solid white;
  width:50px;
  height:50px;
  &:hover{
    border: 2px solid rgb(204, 0, 255);
    box-shadow: 3px 3px 5px rgba(204, 0, 255, 0.486);
    box-shadow: -3px -3px 5px rgba(204, 0, 255, 0.507);
  }
}

.ship_wrapper_r2d2{
  border: 1px solid white;
  width:50px;
  height:50px;
  &:hover{
    border: 2px solid red;
    box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.623);
    box-shadow: -3px -3px 5px rgba(255, 0, 0, 0.575);

  }
}

.ship_wrapper_oneShip{
  display:block;
  border: 1px solid white;
  background: url('/icon/djeadi_buttle.png');
  width:50px;
  height:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.dj_One_shot{
  display:block;
  border: 1px solid white;
  width:50px;
  height:50px;
  opacity: 0.8;
  &::after{
    background: url('/icon/light\ swords_djedai.png');
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.8s;
  }
}

.r2_One_shot{
  display:block;
  background: url('/icon/djeadi_buttle.png');
  border: 1px solid white;
  width:50px;
  height:50px;
  &::after{
    background: url('/icon/ight\ swords_sith.png');
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.8s;
  }
}

.ship_wrapper_oneShip_r2d2{
  display:block;
  border: 1px solid white;
  background: url('/icon/sith_buttle.png');
  width:50px;
  height:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}


.zero{
  display:block;
  border: 1px solid white;
  background: url('/icon/death_point.png');
  width:50px;
  height:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.notWar{
  display:block;
  border: 1px solid white;
  background: url('/icon/noun.png');
  width:50px;
  height:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
}

.element_90deg {
  transform:rotate(90deg);
}
.element_0deg {
  transform:rotate(-90deg);
}


//R2D2 SETKA display none
.r2d2_buttle_grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

//RASTANOVKA KORABLEI

.choice_ships_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height:auto;

  h2{
    font-size:1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgb(108, 250, 255);
  }  
}

.choice_grid{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.butleImgRed{
  border: 2px solid red;
}

.buttle_img{
  width:48px;
  height:48px;
  object-fit: cover;
}

.buttle_img_two{
  width:96px;
  height:48px;
  object-fit: cover;
}

.buttle_img_three{
  width:144px;
  height:48px;
  object-fit: cover;
}

.buttle_img_fore{
  width:192px;
  height:48px;
  object-fit: cover;
  &:active{
    transform: rotate (90deg);
  }
}




.ship_wrapper_one{
  display: flex;
  width:100%;
  justify-content: space-evenly;
  margin-bottom:2rem;
}

.one_ship{
  display: grid;
  &:hover{
    border: 1px solid red;
  }  
}
#one_ship_1{
  display: grid;
}


.ship_wrapper_two{
  display: flex;
  width:100%;
  justify-content: space-evenly;
  margin-bottom:2rem;
}


.two_ship{
  display: grid;
  grid-template-columns: repeat(2, 50px);

  &:hover{
    border: 1px solid red;
  }
}

.ship_wrapper_three{
  display: flex;
  width:100%;
  justify-content: space-evenly;
  margin-bottom:2rem;
}


.three_ship{
  display: grid;
  grid-template-columns: repeat(3, 50px);

  &:hover{
    border: 1px solid red;
  }
}

.ship_wrapper_fore{
  display: flex;
  width:100%;
  justify-content: space-evenly;
  margin-bottom:2rem;
}


.fore_ship{
  display: grid;
  grid-template-columns: repeat(4, 50px);

  &:hover{
    border: 1px solid red;
  }
}

.button_wrapper{
  display: flex;
  flex-direction: column;
}

