* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  height: 100vh;
  color: white;
}

button {
  border: #6cfaff;
  background: rgba(141, 213, 216, 0.473);
  color: rgba(255, 0, 0, 0.658);
  font-size: 2rem;
  width: 250px;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  margin: 1rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

button:hover {
  background: rgba(141, 213, 216, 0.952);
  color: rgba(255, 0, 0, 0.973);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

button:active {
  background: rgba(232, 249, 250, 0.952);
  -webkit-box-shadow: 5px 5px 20px rgba(56, 74, 180, 0.815);
          box-shadow: 5px 5px 20px rgba(56, 74, 180, 0.815);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/image/background_battleShip.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}

.battle_grid_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1400px;
  height: 900px;
}

.djedai_buttle_wrapper {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.djedai_buttle_wrapper h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #94bfff;
}

.r2d2_buttle_wrapper {
  display: none;
  width: 50%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.r2d2_buttle_wrapper h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: rgba(250, 33, 33, 0.904);
}

.buttle_grid {
  width: auto;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[10];
      grid-template-columns: repeat(10, 50px);
  -ms-grid-rows: (50px)[10];
      grid-template-rows: repeat(10, 50px);
  padding: 0;
}

.ship_wrapper {
  border: 1px solid white;
  width: 50px;
  height: 50px;
}

.ship_wrapper:hover {
  border: 2px solid #cc00ff;
  -webkit-box-shadow: 3px 3px 5px rgba(204, 0, 255, 0.486);
          box-shadow: 3px 3px 5px rgba(204, 0, 255, 0.486);
  -webkit-box-shadow: -3px -3px 5px rgba(204, 0, 255, 0.507);
          box-shadow: -3px -3px 5px rgba(204, 0, 255, 0.507);
}

.ship_wrapper_r2d2 {
  border: 1px solid white;
  width: 50px;
  height: 50px;
}

.ship_wrapper_r2d2:hover {
  border: 2px solid red;
  -webkit-box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.623);
          box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.623);
  -webkit-box-shadow: -3px -3px 5px rgba(255, 0, 0, 0.575);
          box-shadow: -3px -3px 5px rgba(255, 0, 0, 0.575);
}

.ship_wrapper_oneShip {
  display: block;
  border: 1px solid white;
  background: url("/icon/djeadi_buttle.png");
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.r2d2_buttle_grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice_ships_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
}

.choice_ships_wrapper h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #6cfaff;
}

.choice_grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.butleImgRed {
  border: 2px solid red;
}

.buttle_img {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttle_img_two {
  width: 96px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttle_img_three {
  width: 144px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttle_img_fore {
  width: 192px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttle_img_fore:active {
  -webkit-transform: rotate 90deg;
          transform: rotate 90deg;
}

.ship_wrapper_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.one_ship {
  display: -ms-grid;
  display: grid;
}

.one_ship:hover {
  border: 1px solid red;
}

#one_ship_1 {
  display: -ms-grid;
  display: grid;
}

.ship_wrapper_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.two_ship {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[2];
      grid-template-columns: repeat(2, 50px);
}

.two_ship:hover {
  border: 1px solid red;
}

.ship_wrapper_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.three_ship {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[3];
      grid-template-columns: repeat(3, 50px);
}

.three_ship:hover {
  border: 1px solid red;
}

.ship_wrapper_fore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.fore_ship {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[4];
      grid-template-columns: repeat(4, 50px);
}

.fore_ship:hover {
  border: 1px solid red;
}

.button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */